.top-image 
{
    background: rgb(98,179,25);
background: linear-gradient(180deg, rgb(98, 179, 25) 0%, rgba(248,112,9,1) 100%, rgba(98,179,25,0.9500175070028011) 100%);
    min-height: 70vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-image h3{
    font-size: 3rem;
    color: white;
    background-color: #f8710986;
}
.students .card:hover
{
    transform: scale(1.0005);
    box-shadow: 0 10px 20px #f8710942, 0 4px 8px #61b31900;
}
.students a{
    color: #62b319;
    text-decoration: none;
}
.students a:hover{
    text-decoration: underline;
    color: #f87009;
    margin-left: 2px;
    transition: .7s;
}
.students .card img:hover{
    opacity: .7;
    transition: .7s;
}
.students .card img{
    height: 330px;
}
.footer-dark{
    background-color: #62b319;
    min-height: 20vh;
    color: white;
}
.footer-dark a {
    text-decoration: none;
    color: white;
}
.footer-dark a:hover
{
    text-decoration: underline;
}
.copyright{
    background-color: #f87009;
}